# production
/build

# misc
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.development
.env.production

# Generated
node_modules
.cache
dist

# IDE
.vscode
.idea

# Mac OS
.DS_Store

/backend
