@font-face {
  font-family: "Heebo";
  src: url("../../fonts/Heebo-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "Heebo";
  src: url("../../fonts/Heebo-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Heebo";
  src: url("../../fonts/Heebo-Regular.ttf");
  font-weight: 400;
}

