.navigationLink {
  font-family: "Heebo", Arial, Helvetica, sans-serif;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.5) !important;

  &:visited {
    color: rgba(0, 0, 0, 0.5) !important;
  }

  &:active {
    color: #000 !important;
  }

  &:hover {
    color: rgba(0, 0, 0, 0.5) !important;
  }

  &_active {
    color: #000 !important;
    border-bottom: 1px solid #000;
  }
}
